[Bb]in/
[Oo]bj/
[Log]s/

# --- (IDE) ---
# VS Code
.vscode/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider / ReSharper
.idea/
*.sln.DotSettings.user

# --- Betriebsystem ---
.DS_Store
Thumbs.db
